<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <title>Rashika Dabas Portfolio</title>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

{% seo %}

    {% include head-custom.html %}
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        <img src="./assets/images/pet.jpg" alt="Pet" style="width:250px;height:250px;" class="image-right">
        {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" class="button"><small>View project on</small> GitHub</a>
        {% endif %}
        {% if site.github.is_user_page %}
          <a href="{{ site.github.owner_url }}" class="button"><small>Follow me on</small> GitHub</a>
        {% endif %}
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
            <!-- Calendly badge widget begin -->
            <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
            <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
            <script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/rashikadabas19', text: 'Schedule time with me', color: '#307cce', textColor: '#ffffff', branding: true }); }</script>
            <!-- Calendly badge widget end -->
            <a href="https://drive.google.com/file/d/10SxoGEWOSxeZ8xcUbcDRldsPuYTjCIuj/view?usp=sharing" class="button">
              <small>Download Resume/CV</small>
            </a>
            <a href="https://drive.google.com/drive/folders/1inUyb_BR2xz1lwU4I2xwq-SVIKS8Sl2J?usp=drive_link" class="button">
              <small>View Edu Docs</small>
            </a>
            <a href="https://drive.google.com/drive/folders/1NUmwIZwQ0QpKCjY3duROcC_Y8ii7hMJo?usp=drive_link" class="button">
              <small>View LORs</small>
            </a>
            <a href="https://drive.google.com/drive/folders/1H4H9BTJNqFb2QR1e3u1grREIySRFWGZw?usp=drive_link" class="button">
              <small>View Certifications</small>
            </a>
            <a href="https://drive.google.com/drive/folders/1WpU5N04bj5DBGG3cTWRBeE9SGop-LeAn?usp=drive_link" class="button">
              <small>View Volunteering</small>
            </a>
          <section><b>Certified Areas: </b> <ul> 
            <li> Python & R Programming </li>
            <li> Data Science </li>
            <li> Machine Learning </li>
            <li> NLP </li>
            <li> Explainable AI </li>
            <li> SQL </li>
            <li> Data Visualization </li>
            <li> Data Warehousing </li>
            <li> Business Analytics </li>
            <li> Android App Development </li>
            <li> Cyber Security </li>
            <li> Design Thinking </li>
            <li> Building AI Agents </li>
            <li> Graphic Designing </li>
            <li> Front End Web Development </li> 
            <li> Financial Markets </li>
            <li> Computer Algebra Systems </li>
            <li> Microsoft Azure </li>
            <li> Microsoft 365 Copilot</li>
            <li> Microsoft Fabric </li>
            <li> AWS </li>
            <li> Snowflake </li>
            <li> Google Workspace </li>
          </ul> </section>
          <section><b>Languages: </b> <ul> 
            <li> English </li>
            <li> French </li>
            <li> Hindi </li>
          </ul> </section>
          <p> Hosted on <a href="https://pages.github.com">GitHub Pages</a> & Theme Credits to <a href="https://github.com/pages-themes/architect">Architect</a></p>
          <img src="./assets/images/award.jpg" alt="Award" style="width:200px;height:350px;">
        </aside>
      </div>
    </div>
    <footer class="footer">
      <p>&copy; Rashika Dabas</p>
    </footer>
  </body>
</html>
